{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Evil Erik's Sinister High Five Counter</title>
		<link rel="stylesheet" href="{% static 'hello/style.css' %}" >
    </head>
    <body>
		{% if sinister %}
        <div class="red stuff-box">
            <h1>Your doom is at hand!</h1>
			<h2>http://{{ip_addr}}/hello/highFive:8000</h2>
            <h3>The number of sheep going to their slaughter: {{highFives | length}}</h3>
		{% else %}
        <div class="yellow stuff-box">
            <h1>#High Five!</h1>
			<h2>http://{{ip_addr}}/hello/highFive:8000</h2>
            <h3>The number of high fives given by this site is {{highFives | length}}</h3>
		{% endif %}
        </div>

        <div class="white stuff-box">
            <p><a href=".">Go back</a></p>
        </div>

		<div class="blue stuff-box">
			<p>Your IP address {{remote_ip}} has been logged.</p>
			<ol>
				{% for hf in highFives %}
				<li>{{hf.who}} - {{hf.when}}</li>
				{% endfor %}
			</ol>
		</div>

    </body>
</html>
