<!DOCTYPE html>
<html lang="en">
    <head>
        <script src="https://unpkg.com/vue@next"></script>
        <title>Vue.js TODO list</title>
        <meta charset="utf-8">
        <style>
            .done {
                text-decoration: line-through;
                color: gray;
            }

            .todo {
                font-weight: bold;
            }
        </style>
    </head>

    <body>
        <div id="app">
            <div>
                <div v-if="error !== undefined">
                    <h2>There was a problem while fetching your TODO list</h2>
                    <p>{{error}}</p>
                </div>
                <div v-else-if="todos === undefined">
                    <h2>Vue.js TODO list</h2>
                    <p>Please wait while I retrieve your TODO list from the cloud</p>
                </div>
                <div v-else-if="remaining != 0">
                    <h2>Vue.js TODO list</h2>
                    <p>
                        I've completed {{completed}} item{{pluralize(completed)}}
                        and have {{remaining}} item{{pluralize(remaining)}} remaining.
                    </p>
                    <ol>
                        <li v-for="(item, idx) in todos"
                            :class="{done: item.done, todo: !item.done}"
                            :data-index="idx"
                            @click="toggle"
                            >{{item.task}}</li>
                    </ol>
                </div>
                <div v-else>
                    <h2>All done!!!</h2>
                    <h3>Time to celebrate with some Orange Dreamsicles</h3>
                </div>
            </div>
        </div>

        <script>
const app = Vue.createApp({
    data() {
        return {
            "todos": undefined,
            "error": undefined,
        };
    },
    methods: {
        toggle(ev) {
            let ele = ev.currentTarget;
            let i = ele.getAttribute('data-index');
            this.todos[i].done = !this.todos[i].done;
        },
        pluralize(n) { return n == 1 ? '' : 's' },
    },
    computed: {
        completed() {
            let c = 0;
            for (let item of this.todos) {
                if (item.done) {
                    c++;
                }
            }
            return c;
        },
        remaining() {
            let c = 0;
            for (let item of this.todos) {
                if (!item.done) {
                    c++;
                }
            }
            return c;
        },
    },

    created() {
        console.log("The created() hook has been called");
        fetch("https://api.jsonbin.io/v3/b/6377d2790e6a79321e4dadc5")
            .then(r => r.json())
            .then(json => {
                console.log(json);
                this.todos = json.record.todos;
            })
            .catch(err => this.error = err);
    },
});

const vm = app.mount('#app');
        </script>
    </body>
</html>
<!-- vim: set ts=4 expandtab: -->
